
<link rel="stylesheet" href="{{ url_for('static', filename='css/form_styles.css') }}">


<form method="POST">
    <h1>Editar Cliente</h1>
    Nome: <input type="text" name="nome" value="{{ cliente.nome }}"><br>
    Idade: <input type="number" name="idade" maxlength="3" value="{{ cliente.idade }}"><br>
    CPF: <input type="text" name="cpf" maxlength="11" value="{{ cliente.cpf }}"><br>
    Email: <input type="email" name="email" value="{{ cliente.email }}"><br>
    Endereço: <input type="text" name="endereco" value="{{ cliente.endereco }}"><br>
    <button type="submit" class="btn-salvar">Salvar</button>
    <a href="{{ url_for('index') }}"><button>Voltar</button></a>
</form>
